.example-box {
    width: 200px;
    height: 200px;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    border-radius: 4px;
    position: relative;
    z-index: 1;
  }